<!DOCTYPE HTML>
<html>
	<head>
		<title>Jakob Vahlin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/> <!--assets/css/main.css" -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Bootstrap uses slim build of jquery, which does not have ajax. Using ajax from google -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>

							<span class="avatar"><img src="{{ url_for('static',filename='images/me.jpg') }}" style="width: 122px; height: 122px;;" alt="" /></span>
							<h1>Jakob Vahlin</h1>
							<p>Engineering student @ NTNU</p>
						</header>
						
						<footer>
							<ul class="icons">
								<li><a href="https://github.com/jakvah" class="icon brands fa-github">GitHub</a></li>
								<li><a href="https://no.linkedin.com/in/jakob-vahlin-9b4431154" class="icon brands fa-linkedin">LinkedIn</a></li>
                                <li><a href="mailto:jakobvahlin@gmail.com" class="icon fa-envelope">Email me</a></li>
                                <li><a href="#modal_work" data-toggle="modal" class="icon fa-folder">My work</a></li>
							</ul>
						</footer>
					</section>
				
					
				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Jakob Vahlin</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>
			<!-- Modal -->
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal_work">
				<div class="modal-dialog modal-lg">
				  <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Some of my work</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body">
						  <div class="container-fluid">
							<div class="row normal-text" style="padding-bottom: 2em;">
								Below are some reports of projects I've done related to various courses at NTNU. Some (most) of the reports are in Norwegian.
							</div>
							<!-- Row 1-->
							
							<div class="row normal-text" style="padding-bottom: 2px;">
								<!--Card 1-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/d8header.png') }}" style="height: 105px;" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">FSK Demodulator</h5>
										  <p class="card-text">Designing and implementing a FSK Demodulator digitally on an Arduino microcontroller</p>
										  <a href="{{ url_for('static',filename='pdfs/d8.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>
								</div>
								<!--Card 2-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/d7header.png') }}" style="height: 105px;" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">Designing an oscillator </h5>
										  <p class="card-text">Designing and implementing an analog sinusoidal oscillator using an operational amplifier</p>
										  <a href="{{ url_for('static',filename='pdfs/d7.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
								<!--Card 3-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/d6header.png') }}" style="height: 105px;" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">Anti aliasing filter</h5>
										  <p class="card-text">Designing and implemeting an analog anti-aliasing filter w/ an operational amplifier</p>
										  <a href="{{ url_for('static',filename='pdfs/d6.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
								<!--Card 4-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/d5header.png') }}" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">Buffer circuit</h5>
										  <p class="card-text">Designing and implementing a buffer circuit using a transistor based amplifier <br></p>
										  <a href="{{ url_for('static',filename='pdfs/d5.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
							</div>
							<!-- Row 2 -->
							<div class="row normal-text">
								<!--Card 5-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/icheader.png') }}" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">Digital Camera (English)</h5>
										  <p class="card-text">Designing a simple four pixel black and white camera using AIM Spice and Verilog to simulate the analog circuit and digital control unit.</p>
										  <a href="{{ url_for('static',filename='pdfs/ic.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
								<!--Card 6-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/fysikkheader.png') }}" style="height: 143.2px;" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">Friction coefficient estimation </h5>
										  <p class="card-text">Estimating the coefficient of friction by analyzing the movement of a sphere with a high speed camera and numerical calculations. </p>
										  <a href="{{ url_for('static',filename='pdfs/fysikk.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
								<!--Card 7-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/sensorheader.png') }}" style="height: 143.2px;" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">Acoustic localization system </h5>
										  <p class="card-text">Digitally estimating the angle of an incomming sound signal using an array of microphones sampled with a self designed measurement system. </p>
										  <a href="{{ url_for('static',filename='pdfs/sensor.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
								<!--Card 8-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 normal-text">
									<div class="card" style="margin-bottom: 2px;">
										<img class="card-img-top" src="{{ url_for('static',filename='images/edcheader.png') }}" style="height: 143.2px;" alt="Card image cap">
										<div class="card-body">
										  <h5 class="card-title">ML based estimation of sinusoidal signal</h5>
										  <p class="card-text">Digitally estimating the phase and frequency of a complex sinusoidal signal embedded in white gaussian noise.</p>
										  <a href="{{ url_for('static',filename='pdfs/edc.pdf') }}" target="_blank" class="btn btn-primary">Read<i class="icon fa-file-pdf"></i></a>
										</div>
									  </div>									
								</div>
							</div>

						  </div>
					
					  </div>
				  </div>
				</div>
			  </div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>

</html>