


<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://github.com/jakvah"class="btn-floating btn-fb mx-1">
            <i class="fab fa-github"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/JakVah" class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:jakobvahlin@gmail.com" class="btn-floating btn-gplus mx-1">
            <i class="fa fa-envelope"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/jakob-vahlin-9b4431154/" class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="http.//jakobvahlin.com" class="btn-floating btn-dribbble mx-1">
            <i class="fa fa-globe"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> Created by Jakob Vahlin © 2020 
      <a href="http://jakobvahlin.com"> jakobvahlin.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  <style>
      .list-inline-item a { color: inherit; } 
  </style>