<!DOCTYPE html>
<html>

{% extends "tenman/navbar.html" %}
{% block body %}
<body onload="">
<div class="container" style="padding-top:5px; padding-bottom:5px;">
  <h4> Search among {{num_players}} recorded players </h4>
</div>
  <div class="container">
	<div class="row justify-content-center">
                        <div class="col-12"> <!--col-md-10 col-lg-8-->
                            <form class="card card-sm"> <!--style=" height: 5rem;"-->
                                <div class="card-body row no-gutters align-items-center ">                                    
                                  <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for player" id="livebox">
                                      </div>
                                     
                                    <!--end of col-->
                                    <!--<div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Søk</button>
                                    </div>-->
                                    <!--end of col-->
                                </div>
                            </form>
                            <table class="table" id=datalist>
                              

                            </table>
                        </div>
                        <!--end of col-->
                    </div>
</div>
</body>
<script>
  $(document).ready(function(){
    $("#livebox").on("input",function(e){
      text_in_livebox = $("#livebox").val()
      $.ajax({
        method:"post",
        url:"/livesearch",
        data:{text:text_in_livebox},
        success:function(res){
            console.log(res);
            var data;
            data +='<thead class="thead-dark"><tr><th scope="col">Name</th><th scope="col">HLTV Rating</th><th scope="col">Wins</th><th scope="col">Losses</th></tr></thead><tbody>';
                    $.each(res,function(index,value){
                        data += "<tr>"+'<td><a href="/tenman/user/'+value[0]+'"</a>'+'<img src="'+value[3] + '" height="20" width="20" style="margin-right: 3px;;">' + value[1]+"</td>";
                        data += "<td>"+value[2] + "</td>";
                        data += "<td>"+value[4] + "</td>";
                        data += "<td>"+value[5] + "</td></tr>";
                    });
            data += '</tbody>'
                    //ata += "</ul>";
                    $("#datalist").html(data);
        }
      })
    })
  })

</script>

<!--<script>
    $(document).ready(function(){
    $("#livebox").on("input",function(e){
      text_in_livebox = $("#livebox").val()
      $.ajax({
        method:"post",
        url:"/livesearch",
        data:{text:text_in_livebox},
        success:function(res){
            console.log(res);
            var data;
            data +='<thead class="thead-dark"><tr><th scope="col">Name</th><th scope="col">HLTV Rating</th><th scope="col">Wins</th><th scope="col">Losses</th></tr></thead><tbody>';
                    $.each(res,function(index,value){
                        data += "<tr>"+'<td><a href="/tenman/user/'+value[0]+'"</a>'+'<img src="'+value[3] + '" height="20" width="20" style="margin-right: 3px;;">' + value[1]+"</td>";
                        data += "<td>"+value[2] + "</td>";
                        data += "<td>"+value[4] + "</td>";
                        data += "<td>"+value[5] + "</td></tr>";
                    });
            data += '</tbody>'
                    //ata += "</ul>";
                    $("#datalist").html(data);
        }
      })
    })
  })

</script>-->
<style>
  .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>
<style>
  .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
    </style>
  
{% endblock %}
  </html>